<a href="https://colab.research.google.com/github/Ganeshmadhavank/Bike-Sales-Data-Analytics-using-python-pandas-/blob/main/Bike_Sales_Data_2015_2024_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Set From -[Bike Sales Data](https://docs.google.com/spreadsheets/d/1xMSX4esYjRaLCnCDdzNj7KQ_W3qW3L_79ZpLKfuQlO8/edit?usp=sharing)

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ak0212/indian-bike-sales-dataset")

print("D:\Bike Sales Data:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ak0212/indian-bike-sales-dataset?dataset_version_number=1...

100%|██████████| 266k/266k [00:00<00:00, 621kB/s]

Extracting files...
D:\Bike Sales Data: /root/.cache/kagglehub/datasets/ak0212/indian-bike-sales-dataset/versions/1

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv("/content/bike_sales_india.csv")

In [ ]:
df2=df.copy()

In [ ]:
df2.head(8)

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Owner Type,Registration Year,Insurance Status,Seller Type,Resale Price (INR),City Tier
0,Karnataka,68.84,Royal Enfield,Hunter 350,252816,2021,672,Electric,78.41,Second,2024,Active,Individual,149934.18,Tier 3
1,Rajasthan,23.80,Bajaj,Dominar 400,131100,2020,769,Hybrid,89.98,Third,2023,Active,Individual,66960.30,Tier 3
2,Madhya Pradesh,27.67,KTM,125 Duke,201016,2020,216,Hybrid,71.46,Second,2023,Active,Dealer,141522.64,Tier 3
3,Karnataka,62.85,Kawasaki,Ninja 300,132482,2021,556,Petrol,51.73,Third,2021,Active,Dealer,56057.22,Tier 1
4,Madhya Pradesh,10.62,Yamaha,FZ V3,231796,2019,298,Petrol,54.72,Third,2019,Not Available,Individual,132538.36,Tier 3
5,Maharashtra,47.71,Hero,Splendor Plus,60839,2019,386,Electric,92.08,First,2019,Not Available,Dealer,47466.45,Tier 3
6,Maharashtra,77.95,Royal Enfield,Meteor 350,349740,2022,970,Petrol,58.28,First,2022,Expired,Individual,175038.79,Metro
7,Tamil Nadu,11.57,Kawasaki,Vulcan S,193781,2019,375,Electric,61.48,Second,2022,Expired,Dealer,96676.39,Tier 3

In [ ]:
df2.tail()

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Owner Type,Registration Year,Insurance Status,Seller Type,Resale Price (INR),City Tier
9995,Gujarat,67.72,Hero,Passion Pro,95040,2024,297,Electric,88.03,Third,2024,Not Available,Dealer,62025.20,Tier 1
9996,Delhi,19.94,Bajaj,CT 100,110369,2015,210,Hybrid,74.89,Third,2020,Active,Individual,80378.40,Tier 2
9997,West Bengal,79.95,Bajaj,Pulsar 150,313806,2018,267,Hybrid,76.78,First,2018,Expired,Dealer,199506.70,Tier 2
9998,Madhya Pradesh,16.07,Honda,Dio,204068,2018,856,Electric,97.75,Second,2021,Active,Individual,130978.70,Tier 3
9999,West Bengal,51.16,Royal Enfield,Classic 350,323583,2018,529,Petrol,41.68,Second,2018,Expired,Individual,142139.85,Tier 3

In [ ]:
df2.isna().sum()

State                      0
Avg Daily Distance (km)    0
Brand                      0
Model                      0
Price (INR)                0
Year of Manufacture        0
Engine Capacity (cc)       0
Fuel Type                  0
Mileage (km/l)             0
Owner Type                 0
Registration Year          0
Insurance Status           0
Seller Type                0
Resale Price (INR)         0
City Tier                  0
dtype: int64

In [ ]:
df2.duplicated().sum()

0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    10000 non-null  object
 1   Avg Daily Distance (km)  10000 non-null  float64
 2   Brand                    10000 non-null  object
 3   Model                    10000 non-null  object
 4   Price (INR)              10000 non-null  int64
 5   Year of Manufacture      10000 non-null  int64
 6   Engine Capacity (cc)     10000 non-null  int64
 7   Fuel Type                10000 non-null  object
 8   Mileage (km/l)           10000 non-null  float64
 9   Owner Type               10000 non-null  object
 10  Registration Year        10000 non-null  int64
 11  Insurance Status         10000 non-null  object
 12  Seller Type              10000 non-null  object
 13  Resale Price (INR)       10000 non-null  float64
 14  City Tier                10000 non-null  object
dtypes: float64(3), int64(4), object(8)
memory usage: 1.1+ MB

In [ ]:
df2.describe()

,Avg Daily Distance (km),Price (INR),Year of Manufacture,Engine Capacity (cc),Mileage (km/l),Registration Year,Resale Price (INR)
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,42.533128,224328.722400,2019.510500,552.695300,67.188926,2020.96510,133828.973998
std,21.676985,100753.660447,2.907668,261.176292,20.891728,2.74897,66613.220382
min,5.010000,50031.000000,2015.000000,100.000000,25.000000,2015.00000,20532.070000
25%,23.907500,137900.250000,2017.000000,327.000000,50.680000,2019.00000,78680.905000
50%,42.480000,223878.000000,2019.000000,553.000000,69.850000,2022.00000,128148.340000
75%,61.352500,311464.250000,2022.000000,780.000000,84.542500,2023.00000,181048.192500
max,80.000000,399981.000000,2024.000000,1000.000000,100.000000,2024.00000,317302.450000

In [ ]:
df2

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l)
0,Karnataka,68.84,Royal Enfield,Hunter 350,149000,2021-01-01,349,Petrol,36.22
1,Rajasthan,23.80,Bajaj,Dominar 400,247000,2020-01-01,373,Petrol,27.00
2,Madhya Pradesh,27.67,KTM,125 Duke,180000,2020-01-01,124,Petrol,45.00
3,Karnataka,62.85,Kawasaki,Ninja 300,343000,2021-01-01,296,Petrol,25.00
4,Madhya Pradesh,10.62,Yamaha,FZ V3,116000,2019-01-01,149,Petrol,45.00
...,...,...,...,...,...,...,...,...,...
9995,Gujarat,67.72,Hero,Passion Pro,78000,2024-01-01,110,Petrol,60.00
9996,Delhi,19.94,Bajaj,CT 100,67000,2015-01-01,102,Petrol,75.00
9997,West Bengal,79.95,Bajaj,Pulsar 150,118000,2018-01-01,149,Petrol,48.00
9998,Madhya Pradesh,16.07,Honda,Dio,74000,2018-01-01,110,Petrol,48.00
9999,West Bengal,51.16,Royal Enfield,Classic 350,193000,2018-01-01,349,Petrol,41.55

In [ ]:
df2[df2['Model']=='Interceptor 650']

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l)
79,Delhi,65.75,Royal Enfield,Interceptor 650,304000,2022-01-01,648,Petrol,24.0
144,Delhi,66.80,Royal Enfield,Interceptor 650,304000,2015-01-01,648,Petrol,24.0
163,Uttar Pradesh,16.10,Royal Enfield,Interceptor 650,304000,2020-01-01,648,Petrol,24.0
194,Tamil Nadu,52.45,Royal Enfield,Interceptor 650,304000,2016-01-01,648,Petrol,24.0
240,Rajasthan,21.39,Royal Enfield,Interceptor 650,304000,2019-01-01,648,Petrol,24.0
...,...,...,...,...,...,...,...,...,...
9667,Punjab,41.07,Royal Enfield,Interceptor 650,304000,2015-01-01,648,Petrol,24.0
9725,Maharashtra,36.62,Royal Enfield,Interceptor 650,304000,2021-01-01,648,Petrol,24.0
9788,Gujarat,19.17,Royal Enfield,Interceptor 650,304000,2020-01-01,648,Petrol,24.0
9808,West Bengal,33.07,Royal Enfield,Interceptor 650,304000,2020-01-01,648,Petrol,24.0
9983,West Bengal,69.39,Royal Enfield,Interceptor 650,304000,2015-01-01,648,Petrol,24.0

## TASK 1 Data Cleaning ---  Engine Capacity (cc) and price is incorrect i would like to give a correct value using **ChatGPT** , because it will usefull for my **SQL** and **POWER BI Report**.

In [ ]:
df2.loc[df2['Model'] == 'Ray ZR', ['Engine Capacity (cc)', 'Price (INR)']] = [125, 87000]
df2.loc[df2['Model'] == 'NTorq 125', ['Engine Capacity (cc)', 'Price (INR)']] = [125, 88500]
df2.loc[df2['Model'] == 'Duke 200', ['Engine Capacity (cc)', 'Price (INR)']] = [200, 196000]
df2.loc[df2['Model'] == '250 Duke', ['Engine Capacity (cc)', 'Price (INR)']] = [250, 240000]
df2.loc[df2['Model'] == 'Classic 350', ['Engine Capacity (cc)', 'Price (INR)']] = [349, 193000]
df2.loc[df2['Model'] == 'MT-15', ['Engine Capacity (cc)', 'Price (INR)']] = [155, 167000]
df2.loc[df2['Model'] == 'Vulcan S', ['Engine Capacity (cc)', 'Price (INR)']] = [649, 712000]
df2.loc[df2['Model'] == 'Interceptor 650', ['Engine Capacity (cc)', 'Price (INR)']] = [648, 304000]
df2.loc[df2['Model'] == 'Pulsar 150', ['Engine Capacity (cc)', 'Price (INR)']] = [149, 118000]
df2.loc[df2['Model'] == 'Versys 650', ['Engine Capacity (cc)', 'Price (INR)']] = [649, 777000]
df2.loc[df2['Model'] == 'Hunter 350', ['Engine Capacity (cc)', 'Price (INR)']] = [349, 149000]
df2.loc[df2['Model'] == 'Glamour', ['Engine Capacity (cc)', 'Price (INR)']] = [125, 87000]
df2.loc[df2['Model'] == 'Sport', ['Engine Capacity (cc)', 'Price (INR)']] = [100, 69500]
df2.loc[df2['Model'] == 'HF Deluxe', ['Engine Capacity (cc)', 'Price (INR)']] = [97, 59000]
df2.loc[df2['Model'] == 'Unicorn', ['Engine Capacity (cc)', 'Price (INR)']] = [162, 109000]
df2.loc[df2['Model'] == 'FZ V3', ['Engine Capacity (cc)', 'Price (INR)']] = [149, 116000]
df2.loc[df2['Model'] == 'Ninja 300', ['Engine Capacity (cc)', 'Price (INR)']] = [296, 343000]
df2.loc[df2['Model'] == 'Ninja 400', ['Engine Capacity (cc)', 'Price (INR)']] = [399, 534000]
df2.loc[df2['Model'] == '390 Adventure', ['Engine Capacity (cc)', 'Price (INR)']] = [373, 338000]
df2.loc[df2['Model'] == 'Z650', ['Engine Capacity (cc)', 'Price (INR)']] = [649, 656000]
df2.loc[df2['Model'] == 'Ronin', ['Engine Capacity (cc)', 'Price (INR)']] = [225, 150000]
df2.loc[df2['Model'] == 'Himalayan', ['Engine Capacity (cc)', 'Price (INR)']] = [411, 243000]
df2.loc[df2['Model'] == 'Avenger 220', ['Engine Capacity (cc)', 'Price (INR)']] = [220, 139000]
df2.loc[df2['Model'] == 'Xtreme 160R', ['Engine Capacity (cc)', 'Price (INR)']] = [163, 123000]
df2.loc[df2['Model'] == 'RC 390', ['Engine Capacity (cc)', 'Price (INR)']] = [373, 316000]
df2.loc[df2['Model'] == 'CBR 650R', ['Engine Capacity (cc)', 'Price (INR)']] = [648, 915000]
df2.loc[df2['Model'] == 'Fascino 125', ['Engine Capacity (cc)', 'Price (INR)']] = [125, 92000]
df2.loc[df2['Model'] == 'Passion Pro', ['Engine Capacity (cc)', 'Price (INR)']] = [110, 78000]
df2.loc[df2['Model'] == 'Shine', ['Engine Capacity (cc)', 'Price (INR)']] = [125, 83000]
df2.loc[df2['Model'] == 'Dio', ['Engine Capacity (cc)', 'Price (INR)']] = [110, 74000]
df2.loc[df2['Model'] == 'CT 100', ['Engine Capacity (cc)', 'Price (INR)']] = [102, 67000]
df2.loc[df2['Model'] == 'R15 V4', ['Engine Capacity (cc)', 'Price (INR)']] = [155, 181000]
df2.loc[df2['Model'] == 'Dominar 400', ['Engine Capacity (cc)', 'Price (INR)']] = [373, 247000]
df2.loc[df2['Model'] == '125 Duke', ['Engine Capacity (cc)', 'Price (INR)']] = [124, 180000]
df2.loc[df2['Model'] == 'Activa', ['Engine Capacity (cc)', 'Price (INR)']] = [110, 79000]
df2.loc[df2['Model'] == 'Splendor Plus', ['Engine Capacity (cc)', 'Price (INR)']] = [97, 75000]
df2.loc[df2['Model'] == 'Platina 110', ['Engine Capacity (cc)', 'Price (INR)']] = [115, 77000]
df2.loc[df2['Model'] == 'Apache RTR 160', ['Engine Capacity (cc)', 'Price (INR)']] = [159, 121000]
df2.loc[df2['Model'] == 'Jupiter', ['Engine Capacity (cc)', 'Price (INR)']] = [110, 87000]
df2.loc[df2['Model'] == 'Meteor 350', ['Engine Capacity (cc)', 'Price (INR)']] = [349, 202000]

In [ ]:
df2

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Owner Type,Registration Year,Insurance Status,Seller Type,Resale Price (INR),City Tier
0,Karnataka,68.84,Royal Enfield,Hunter 350,149000,2021,349,Electric,78.41,Second,2024,Active,Individual,149934.18,Tier 3
1,Rajasthan,23.80,Bajaj,Dominar 400,247000,2020,373,Hybrid,89.98,Third,2023,Active,Individual,66960.30,Tier 3
2,Madhya Pradesh,27.67,KTM,125 Duke,180000,2020,124,Hybrid,71.46,Second,2023,Active,Dealer,141522.64,Tier 3
3,Karnataka,62.85,Kawasaki,Ninja 300,343000,2021,296,Petrol,51.73,Third,2021,Active,Dealer,56057.22,Tier 1
4,Madhya Pradesh,10.62,Yamaha,FZ V3,116000,2019,149,Petrol,54.72,Third,2019,Not Available,Individual,132538.36,Tier 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Gujarat,67.72,Hero,Passion Pro,78000,2024,110,Electric,88.03,Third,2024,Not Available,Dealer,62025.20,Tier 1
9996,Delhi,19.94,Bajaj,CT 100,67000,2015,102,Hybrid,74.89,Third,2020,Active,Individual,80378.40,Tier 2
9997,West Bengal,79.95,Bajaj,Pulsar 150,118000,2018,149,Hybrid,76.78,First,2018,Expired,Dealer,199506.70,Tier 2
9998,Madhya Pradesh,16.07,Honda,Dio,74000,2018,110,Electric,97.75,Second,2021,Active,Individual,130978.70,Tier 3
9999,West Bengal,51.16,Royal Enfield,Classic 350,193000,2018,349,Petrol,41.68,Second,2018,Expired,Individual,142139.85,Tier 3

In [ ]:
df2['Model'].value_counts().count()

np.int64(40)

In [ ]:
df2['Model'].value_counts()

Model
Ray ZR             279
NTorq 125          271
Duke 200           270
250 Duke           269
Classic 350        267
MT-15              267
Vulcan S           267
Interceptor 650    264
Pulsar 150         261
Versys 650         261
Hunter 350         259
Glamour            258
Sport              258
HF Deluxe          257
Unicorn            257
FZ V3              256
Ninja 300          256
Ninja 400          255
390 Adventure      254
Z650               252
Ronin              252
Himalayan          249
Avenger 220        249
Xtreme 160R        249
RC 390             248
CBR 650R           248
Fascino 125        248
Passion Pro        247
Shine              244
Dio                242
CT 100             236
R15 V4             233
Dominar 400        233
125 Duke           231
Activa             230
Splendor Plus      228
Platina 110        228
Apache RTR 160     227
Jupiter            226
Meteor 350         214
Name: count, dtype: int64

Fuel Type and mileage also incorrect so im change it also

In [ ]:
df2.loc[df2['Model'] == 'Ray ZR', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 51]
df2.loc[df2['Model'] == 'NTorq 125', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 42]
df2.loc[df2['Model'] == 'Duke 200', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 33]
df2.loc[df2['Model'] == '250 Duke', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 32]
df2.loc[df2['Model'] == 'Classic 350', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 41.55]
df2.loc[df2['Model'] == 'MT-15', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 46]
df2.loc[df2['Model'] == 'Vulcan S', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 20.58]
df2.loc[df2['Model'] == 'Interceptor 650', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 24]
df2.loc[df2['Model'] == 'Pulsar 150', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 48]
df2.loc[df2['Model'] == 'Versys 650', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 19.4]
df2.loc[df2['Model'] == 'Hunter 350', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 36.22]
df2.loc[df2['Model'] == 'Glamour', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 55]
df2.loc[df2['Model'] == 'Sport', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 65]
df2.loc[df2['Model'] == 'HF Deluxe', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 72.5]
df2.loc[df2['Model'] == 'Unicorn', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 53.5]
df2.loc[df2['Model'] == 'FZ V3', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 45]
df2.loc[df2['Model'] == 'Ninja 300', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 25]
df2.loc[df2['Model'] == 'Ninja 400', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 24]
df2.loc[df2['Model'] == '390 Adventure', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 28]
df2.loc[df2['Model'] == 'Z650', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 23]
df2.loc[df2['Model'] == 'Ronin', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 40]
df2.loc[df2['Model'] == 'Himalayan', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 30]
df2.loc[df2['Model'] == 'Avenger 220', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 45]
df2.loc[df2['Model'] == 'Xtreme 160R', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 55]
df2.loc[df2['Model'] == 'RC 390', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 25]
df2.loc[df2['Model'] == 'CBR 650R', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 20]
df2.loc[df2['Model'] == 'Fascino 125', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 58]
df2.loc[df2['Model'] == 'Passion Pro', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 60]
df2.loc[df2['Model'] == 'Shine', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 55]
df2.loc[df2['Model'] == 'Dio', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 48]
df2.loc[df2['Model'] == 'CT 100', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 75]
df2.loc[df2['Model'] == 'R15 V4', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 45]
df2.loc[df2['Model'] == 'Dominar 400', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 27]
df2.loc[df2['Model'] == '125 Duke', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 45]
df2.loc[df2['Model'] == 'Activa', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 50]
df2.loc[df2['Model'] == 'Splendor Plus', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 70]
df2.loc[df2['Model'] == 'Platina 110', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 70]
df2.loc[df2['Model'] == 'Apache RTR 160', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 45]
df2.loc[df2['Model'] == 'Jupiter', ['Fuel Type', ' Mileage (km/l)']] = ['Petrol', 50]
df2.loc[df2['Model'] == 'Meteor 350', ['Fuel Type', 'Mileage (km/l)']] = ['Petrol', 35]

In [ ]:
df2[df2['Model']=='Interceptor 650']

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Owner Type,Registration Year,Insurance Status,Seller Type,Resale Price (INR),City Tier,Mileage (km/l)
79,Delhi,65.75,Royal Enfield,Interceptor 650,304000,2022,648,Petrol,24.0,Second,2023,Active,Individual,215428.56,Tier 2,NaN
144,Delhi,66.80,Royal Enfield,Interceptor 650,304000,2015,648,Petrol,24.0,First,2015,Not Available,Dealer,40071.87,Tier 2,NaN
163,Uttar Pradesh,16.10,Royal Enfield,Interceptor 650,304000,2020,648,Petrol,24.0,Second,2021,Not Available,Dealer,129455.70,Metro,NaN
194,Tamil Nadu,52.45,Royal Enfield,Interceptor 650,304000,2016,648,Petrol,24.0,Third,2023,Expired,Dealer,47298.94,Tier 3,NaN
240,Rajasthan,21.39,Royal Enfield,Interceptor 650,304000,2019,648,Petrol,24.0,Second,2020,Not Available,Individual,81802.72,Tier 1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9667,Punjab,41.07,Royal Enfield,Interceptor 650,304000,2015,648,Petrol,24.0,First,2015,Expired,Individual,107567.37,Tier 1,NaN
9725,Maharashtra,36.62,Royal Enfield,Interceptor 650,304000,2021,648,Petrol,24.0,Third,2021,Expired,Individual,110284.81,Tier 1,NaN
9788,Gujarat,19.17,Royal Enfield,Interceptor 650,304000,2020,648,Petrol,24.0,First,2020,Active,Dealer,123587.97,Metro,NaN
9808,West Bengal,33.07,Royal Enfield,Interceptor 650,304000,2020,648,Petrol,24.0,Second,2020,Expired,Dealer,226936.56,Tier 1,NaN
9983,West Bengal,69.39,Royal Enfield,Interceptor 650,304000,2015,648,Petrol,24.0,Second,2021,Not Available,Individual,34671.10,Tier 2,NaN

I dont want  Owner Type ,Seller Type , Insurance Status , Resale Price (INR)

In [ ]:
 df2 = df2.drop(df2.columns[-1], axis=1)
df2=df2.drop('Owner Type',axis=1)

In [ ]:
df2=df2.drop(['Seller Type','Insurance Status'],axis=1)

In [ ]:
df2=df2.drop('Resale Price (INR)',axis=1)

In [ ]:
df2=df2.drop('Registration Year',axis=1)

In [ ]:
df2

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l)
0,Karnataka,68.84,Royal Enfield,Hunter 350,149000,2021-01-01,349,Petrol,36.22
1,Rajasthan,23.80,Bajaj,Dominar 400,247000,2020-01-01,373,Petrol,27.00
2,Madhya Pradesh,27.67,KTM,125 Duke,180000,2020-01-01,124,Petrol,45.00
3,Karnataka,62.85,Kawasaki,Ninja 300,343000,2021-01-01,296,Petrol,25.00
4,Madhya Pradesh,10.62,Yamaha,FZ V3,116000,2019-01-01,149,Petrol,45.00
...,...,...,...,...,...,...,...,...,...
9995,Gujarat,67.72,Hero,Passion Pro,78000,2024-01-01,110,Petrol,60.00
9996,Delhi,19.94,Bajaj,CT 100,67000,2015-01-01,102,Petrol,75.00
9997,West Bengal,79.95,Bajaj,Pulsar 150,118000,2018-01-01,149,Petrol,48.00
9998,Madhya Pradesh,16.07,Honda,Dio,74000,2018-01-01,110,Petrol,48.00
9999,West Bengal,51.16,Royal Enfield,Classic 350,193000,2018-01-01,349,Petrol,41.55

In [ ]:
df2.isna().sum()

State                         0
Avg Daily Distance (km)       0
Brand                         0
Model                         0
Price (INR)                   0
Year of Manufacture           0
Engine Capacity (cc)          0
Fuel Type                     0
Mileage (km/l)                0
Registration Year             0
City Tier                     0
 Mileage (km/l)            9774
dtype: int64

In [ ]:
df2.dtypes

State                              object
Avg Daily Distance (km)           float64
Brand                              object
Model                              object
Price (INR)                         int64
Year of Manufacture        datetime64[ns]
Engine Capacity (cc)                int64
Fuel Type                          object
Mileage (km/l)                    float64
Registration Year          datetime64[ns]
dtype: object

In [ ]:
df2['Year of Manufacture'	]=pd.to_datetime(df2['Year of Manufacture'],format='%Y')

In [ ]:
df2['Registration Year']=pd.to_datetime(df2['Registration Year'],format='%Y')

In [ ]:
df2.to_csv('bike_sales_cleaned.csv',index=False)

In [ ]:
df2

,State,Avg Daily Distance (km),Brand,Model,Price (INR),Year of Manufacture,Engine Capacity (cc),Fuel Type,Mileage (km/l),Registration Year
0,Karnataka,68.84,Royal Enfield,Hunter 350,149000,2021-01-01,349,Petrol,36.22,2024-01-01
1,Rajasthan,23.80,Bajaj,Dominar 400,247000,2020-01-01,373,Petrol,27.00,2023-01-01
2,Madhya Pradesh,27.67,KTM,125 Duke,180000,2020-01-01,124,Petrol,45.00,2023-01-01
3,Karnataka,62.85,Kawasaki,Ninja 300,343000,2021-01-01,296,Petrol,25.00,2021-01-01
4,Madhya Pradesh,10.62,Yamaha,FZ V3,116000,2019-01-01,149,Petrol,45.00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...
9995,Gujarat,67.72,Hero,Passion Pro,78000,2024-01-01,110,Petrol,60.00,2024-01-01
9996,Delhi,19.94,Bajaj,CT 100,67000,2015-01-01,102,Petrol,75.00,2020-01-01
9997,West Bengal,79.95,Bajaj,Pulsar 150,118000,2018-01-01,149,Petrol,48.00,2018-01-01
9998,Madhya Pradesh,16.07,Honda,Dio,74000,2018-01-01,110,Petrol,48.00,2021-01-01
9999,West Bengal,51.16,Royal Enfield,Classic 350,193000,2018-01-01,349,Petrol,41.55,2018-01-01